.App {
  text-align: center;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.rule {
  text-align: left;
  font-size: calc(5px + 2vmin);
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.copyright {
  margin-top: 100px;
  font-size: calc(2px + 2vmin);
  color: #888;
}

.link {
  text-decoration: underline;
}
.bar {
  width: 1px;
    height: 14px;
    background: #e0e0e0;
    display: inline-block;
    position: relative;
    top: 2px;
    padding: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video {
  margin-bottom: 100px;
}

.typo-small {
  font-size: calc(2px + 2vmin);
}
